.container-person {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }

.header {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .header--show {
    padding: 15px;
    top: 0;
    background: linear-gradient(90deg, white); }
  .header--hide {
    top: -100%; }
  @media (min-width: 1199px) {
    .header {
      height: auto; } }
  .header__mobile {
    width: 100%;
    height: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .header__mobile {
        display: none; } }
    .header__mobile .container-person {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
    .header__mobile__logo {
      height: 43px;
      max-width: 43px; }
    .header__mobile__toggle {
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #199cd8;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 13px 10px; }
      .header__mobile__toggle__bar {
        width: 100%;
        height: 2px;
        background-color: white;
        position: relative;
        transition: 0.3s; }
        .header__mobile__toggle__bar::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: -8px;
          left: 0;
          background-color: white;
          transition: 0.3s; }
        .header__mobile__toggle__bar::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: -8px;
          left: 0;
          background-color: white;
          transition: 0.3s; }
  .header__desktop {
    width: 100%;
    height: auto;
    display: none; }
    @media (min-width: 1200px) {
      .header__desktop {
        display: block; } }
    .header__desktop .container-person {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding-top: 9px;
      padding-bottom: 14px; }
    .header__desktop__logo {
      width: auto;
      height: 74px; }
    .header__desktop__pages {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      gap: 15px; }
      @media (min-width: 1440px) {
        .header__desktop__pages {
          gap: 40px; } }
      .header__desktop__pages a.links {
        font-size: 16px;
        color: black;
        text-transform: uppercase;
        font-weight: 800;
        padding: 10px 0;
        transition: 0.3s; }
        .header__desktop__pages a.links:hover {
          color: #213C77; }
      .header__desktop__pages a.phone {
        font-size: 16px;
        color: black;
        text-transform: uppercase;
        font-weight: 800;
        padding: 10px 0;
        transition: 0.3s; }
        .header__desktop__pages a.phone::hover {
          color: #213C77; }
      .header__desktop__pages a.whatsApp {
        background: #81BB27;
        border-radius: 30px;
        font-size: 16px;
        padding: 16px 36px !important;
        margin-top: 15px;
        color: white;
        font-weight: bold; }

.menu {
  width: 100%;
  height: auto;
  position: fixed;
  top: -200%;
  left: 0;
  background-color: white;
  z-index: 99;
  padding: 100px 0 30px 0;
  transition: 0.3s; }
  .menu--active {
    top: 0; }
  .menu__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .menu__links a.link {
      font-size: 16px;
      color: black;
      text-transform: uppercase;
      font-weight: 800;
      padding: 10px 0;
      transition: 0.3s; }
      .menu__links a.link:hover {
        color: #213C77; }
    .menu__links a.phone {
      font-size: 16px;
      color: black;
      text-transform: uppercase;
      font-weight: 800;
      padding: 10px 0;
      transition: 0.3s; }
      .menu__links a.phone::hover {
        color: #213C77; }
    .menu__links a.whatsApp {
      background: #81BB27;
      border-radius: 30px;
      font-size: 16px;
      padding: 16px 36px !important;
      margin-top: 15px;
      color: white;
      font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }
