.container-person {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }

.header {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .header--show {
    padding: 15px;
    top: 0;
    background: linear-gradient(90deg, white); }
  .header--hide {
    top: -100%; }
  @media (min-width: 1199px) {
    .header {
      height: auto; } }
  .header__mobile {
    width: 100%;
    height: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .header__mobile {
        display: none; } }
    .header__mobile .container-person {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
    .header__mobile__logo {
      height: 43px;
      max-width: 43px; }
    .header__mobile__toggle {
      width: 43px;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #199cd8;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 13px 10px; }
      .header__mobile__toggle__bar {
        width: 100%;
        height: 2px;
        background-color: white;
        position: relative;
        transition: 0.3s; }
        .header__mobile__toggle__bar::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: -8px;
          left: 0;
          background-color: white;
          transition: 0.3s; }
        .header__mobile__toggle__bar::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: -8px;
          left: 0;
          background-color: white;
          transition: 0.3s; }
  .header__desktop {
    width: 100%;
    height: auto;
    display: none; }
    @media (min-width: 1200px) {
      .header__desktop {
        display: block; } }
    .header__desktop .container-person {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding-top: 9px;
      padding-bottom: 14px; }
    .header__desktop__logo {
      width: auto;
      height: 74px; }
    .header__desktop__pages {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      gap: 15px; }
      @media (min-width: 1440px) {
        .header__desktop__pages {
          gap: 40px; } }
      .header__desktop__pages a.links {
        font-size: 16px;
        color: black;
        text-transform: uppercase;
        font-weight: 800;
        padding: 10px 0;
        transition: 0.3s;
        text-decoration: none; }
        .header__desktop__pages a.links:hover {
          color: #213C77; }
      .header__desktop__pages a.phone {
        font-size: 16px;
        color: black;
        text-transform: uppercase;
        font-weight: 800;
        padding: 10px 0;
        transition: 0.3s; }
        .header__desktop__pages a.phone::hover {
          color: #213C77; }
      .header__desktop__pages a.whatsApp {
        background: #81BB27;
        border-radius: 30px;
        font-size: 16px;
        padding: 16px 36px !important;
        margin-top: 15px;
        color: white;
        font-weight: bold; }

.menu {
  width: 100%;
  height: auto;
  position: fixed;
  top: -200%;
  left: 0;
  background-color: white;
  z-index: 99;
  padding: 100px 0 30px 0;
  transition: 0.3s; }
  .menu--active {
    top: 0; }
  .menu__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .menu__links a.link {
      font-size: 16px;
      color: black;
      text-transform: uppercase;
      font-weight: 800;
      padding: 10px 0;
      transition: 0.3s; }
      .menu__links a.link:hover {
        color: #213C77; }
    .menu__links a.phone {
      font-size: 16px;
      color: black;
      text-transform: uppercase;
      font-weight: 800;
      padding: 10px 0;
      transition: 0.3s; }
      .menu__links a.phone::hover {
        color: #213C77; }
    .menu__links a.whatsApp {
      background: #81BB27;
      border-radius: 30px;
      font-size: 16px;
      padding: 16px 36px !important;
      margin-top: 15px;
      color: white;
      font-weight: bold; }

.catalog {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto; }
  .catalog__title {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px; }
    .catalog__title__icon {
      width: 30px; }
      @media (min-width: 1199px) {
        .catalog__title__icon {
          width: 60px; } }
    .catalog__title h1.title {
      line-height: 1.18em;
      font-size: 25px;
      color: #292f33;
      font-family: museo-sans, sans-serif;
      font-weight: 900;
      font-style: normal; }
      @media (min-width: 1199px) {
        .catalog__title h1.title {
          font-size: 60px; } }
  .catalog__carousel_fotovoltaico {
    -webkit-perspective: 500px; }
  .catalog__button {
    opacity: 0;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    border-radius: 15px !important;
    font-family: "museo-sans" !important;
    font-weight: 700;
    text-shadow: -1px 1px 4px #0000008a !important;
    font-size: 9px !important;
    color: #fff;
    padding: 2px 20px;
    gap: 5px; }
    @media (min-width: 520px) {
      .catalog__button {
        font-size: 26px !important;
        gap: 10px; } }
    .catalog__button__icon {
      width: 12px; }
      @media (min-width: 520px) {
        .catalog__button__icon {
          width: 20px; } }
      .catalog__button__icon svg {
        width: 100%;
        height: 100%; }
    .catalog__button--one {
      background: linear-gradient(170deg, #020024 0%, #00D164 0%, #00D164 100%) !important; }
    .catalog__button--two {
      background: linear-gradient(170deg, #020024 0%, #ffd727 0%, #ffaa00 100%) !important; }
    .catalog__button--three {
      background: linear-gradient(170deg, #020024 0%, #0099ea 0%, #0099ea 100%) !important; }

.carousel {
  height: 300px !important; }
  @media (min-width: 520px) {
    .carousel {
      height: 800px !important; } }

.active .catalog__button {
  opacity: 1; }

.carousel .carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 120px !important;
  height: auto !important;
  top: 0 !important;
  left: 0;
  opacity: 1 !important; }
  @media (min-width: 520px) {
    .carousel .carousel-item {
      width: 360px !important;
      height: 200px !important; } }
  @media (min-width: 1199px) {
    .carousel .carousel-item {
      width: 800px !important;
      height: 500px !important; } }
  .carousel .carousel-item img {
    border-radius: 17px; }

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-top: 70px; }
  .input input {
    width: 100%;
    border: 0px solid transparent; }
  .input__button {
    border-bottom: 8px solid #FFC400;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold; }

.experts {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto; }
  .experts--next {
    position: absolute;
    right: 0;
    bottom: 0%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 2; }
    .experts--next svg {
      width: 100%;
      height: 100%;
      fill: black; }
  .experts__form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .experts__form__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px; }
      .experts__form__grid__imagen {
        width: 100%; }
        .experts__form__grid__imagen img {
          width: 100%;
          height: 100%; }
    .experts__form__text {
      width: 90%;
      padding-top: 20px; }
      .experts__form__text p {
        text-align: center; }

.swiper {
  width: 100%;
  height: 100%; }
  .swiper .swiper-slide {
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }
  .swiper .swiper-horizontal > .swiper-pagination-bullets, .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper .swiper-pagination-custom, .swiper .swiper-pagination-fraction {
    width: 100%;
    position: inherit;
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px 0 50px; }
  .swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #6FB830;
    opacity: 1; }
  .swiper .swiper-pagination-bullet-active {
    background-color: #A2A2A2;
    border: 1px solid #A2A2A2; }

.target_certification {
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0 !important;
  background-color: #8dba38;
  padding: 10px;
  margin-top: 10px; }
  .target_certification__title {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important; }
    .target_certification__title h1 {
      color: white;
      line-height: 1.18em;
      font-size: 30px;
      font-family: museo-sans, sans-serif;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 0; }
    .target_certification__title__icon {
      height: 90px; }
  .target_certification p {
    color: white;
    font-size: 19px;
    line-height: 34px;
    margin: 0; }
  .target_certification__button {
    margin-left: auto;
    width: 16px;
    height: 16px;
    margin-bottom: 10px; }
    .target_certification__button svg {
      width: 100%; }

.target_marcas {
  width: 100%;
  height: 100%; }

.marcas {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: auto; }
  .marcas__controls {
    margin-top: 30px !important;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; }
    .marcas__controls--prev {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      z-index: 2; }
      .marcas__controls--prev svg {
        width: 100%;
        height: 100%;
        fill: black; }
    .marcas__controls--next {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      z-index: 2; }
      .marcas__controls--next svg {
        width: 100%;
        height: 100%;
        fill: black;
        transform: rotate(180deg); }
  .marcas__form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .marcas__form__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px; }
      .marcas__form__grid__imagen {
        grid-column: 1 / 3;
        width: 100%; }
        .marcas__form__grid__imagen img {
          width: 100%; }
      .marcas__form__grid__imagens {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: 100%; }
        .marcas__form__grid__imagens img {
          width: 100%; }

.swiper {
  width: 100%;
  height: 100%; }
  .swiper .swiper-slide {
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }
  .swiper .swiper-horizontal > .swiper-pagination-bullets, .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper .swiper-pagination-custom, .swiper .swiper-pagination-fraction {
    width: 100%;
    position: inherit;
    display: flex;
    justify-content: flex-end;
    padding: 20px 80px 0 50px;
    margin-top: 30px; }
  .swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #6FB830;
    opacity: 1; }
  .swiper .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid #6FB830; }

.target_products {
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .target_products img {
    width: 100%;
    height: 100%; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }
