.menu{
	width: 100%;
	height: auto;
	position: fixed;
	top: -200%;
    left: 0;
	background-color: white;
	z-index: 99;
	padding: 100px 0 30px 0;
	transition: 0.3s;

	&--active{
		top: 0;
	}

	&__links{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		a.link{
			font-size: 16px;
			color: black;
			text-transform: uppercase;
			font-weight: 800;
			padding: 10px 0;
			transition: 0.3s;

			&:hover{
				color: #213C77;
			}

		}

		a.phone{
			font-size: 16px;
			color: black;
			text-transform: uppercase;
			font-weight: 800;
			padding: 10px 0;
			transition: 0.3s;

			&::hover{
				color: #213C77;
			}

		}

		a.whatsApp{
			background: #81BB27;
			border-radius: 30px;
			font-size: 16px;
			padding: 16px 36px !important;
			margin-top: 15px;
			color: white;
			font-weight: bold;

			
		}
	}



}