.carrouselSolarAe{
	width: 100%;
	overflow: hidden;
	position: relative;
    height: auto;
	background: red;

	&--next{
		position: absolute;
        right: 15px;
		top: 50%;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		z-index: 2;
		border: 1px solid white; 
		padding: 7px;

		svg{
			width: 100%;
            height: 100%;
			fill: white;
			
		}

		&:hover{
			background-color: black;
            border: 1px solid  #00cc00;
            cursor: pointer;
		}

	}


    &--prev{
		position: absolute;
        left: 15px;
		top: 50%;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		z-index: 2;
		border: 1px solid white; 
		padding: 7px;

		svg{
			width: 100%;
            height: 100%;
			fill: white;
		}
		&:hover{
			background-color: black;
            border: 1px solid #00cc00;
            cursor: pointer;
		}

	}

    &__form{
     
        @include flex-center-center;
        flex-direction: column;
        padding: 15px 0;

   
        p{
			width: 90%;
            font-size:18px ;
            font-family: 'Poppins', sans-serif;
            color:white;
            text-align: center;
            line-height: 34px;
        }

        span{
            font-size:18px ;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }


		&__decoration{
			padding: 15px 0;
			width: 100%;
			@include flex-center-end;

			&__circle{
				width: 40px;
				height: 20px;
				background-color: #00CC00;
				border-radius: 100%;

			}

			hr.line{
				width: 100%;
				background-color: white;
				height: 3px;
			}
			
		}
            

    }
}


.swiper_two{
	width: 100%;
	height: 100%;
	//*width: 90%;

		.swiper-slide{
			width: 100% !important;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;


            @media(min-width:997px){
				width:50% !important;

			}

			@media(min-width: 1300px){
				width: 33.33% !important;
			}


		}

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            width: 100%;
            position:inherit;
            display: flex;
            justify-content:center;
            padding: 20px 50px 0 50px ;
        }

        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            background-color: #00CC00;
            opacity:1;
            
        }

        .swiper-pagination-bullet-active {
            background-color:white;
            border: 1px solid white;
            
        }

}

